:root{
    margin:0;
    padding:0;
    list-style: none;
    background:#e9e9eb;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family:Manjari;
    src: url('/public/fonts//Manjari-Bold.ttf')  format('truetype');
  }